@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --color-on-surface: #171d1e;
  --color-on-background: #181c1f;
  --color-primary: oklch(0.685 0.169 237.323);
  --color-on-secondary-fixed: #0a1528;
  --color-text-default: #0a1528;
  --color-surface-dim: #d5dbdc;
  --color-surface: #1d1616;

  --breakpoint-sm: 25.75rem;
  --breakpoint-xs: 20rem;

  --font-primary: 'Space Grotesk', sans-serif;
}

@layer base {
  html {
    @apply dark:bg-surface bg-white;
  }

  body {
    @apply font-primary text-gray-800 dark:text-gray-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }

  a {
    @apply text-gray-800 dark:text-gray-200;
  }
}

::-webkit-scrollbar {
  display: none;
}

.button {
  @apply xs:py-2 xs:px-3 xs:text-xs font-primary flex w-auto items-center space-x-2 rounded-lg text-center hover:cursor-pointer disabled:hover:cursor-not-allowed lg:px-4 lg:py-2 lg:text-base;
}

.pageButton {
  @apply flex h-8 items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 transition-colors duration-150 hover:bg-gray-100 hover:text-gray-700 dark:border-neutral-700 dark:bg-neutral-800 dark:text-gray-200 dark:hover:bg-neutral-700 dark:hover:text-white;
}

.navLink {
  @apply xs:text-gray-700 hover:text-gray-800 dark:text-gray-100 dark:hover:text-white;
}

.cardTitle {
  @apply xs:text-xl xs:font-bold xs:font-primary line-clamp-2 min-h-[2.5rem] sm:text-2xl;
}

.cardSubTitle {
  @apply xs:text-sm xs:font-primary line-clamp-3 min-h-[4rem] sm:text-base;
}

.formInput {
  @apply xs:pl-2 xs:font-primary xs:text-xs w-full rounded-lg border border-gray-300 px-4 py-2 focus:outline-1 focus:outline-gray-300 sm:pl-4 sm:text-sm;
}

.formLable {
  @apply xs:text-sm xs:font-semibold font-primary mb-2 block text-gray-700 sm:text-sm lg:text-base dark:text-gray-50;
}

.formError {
  @apply font-primary mt-1 text-sm text-red-500 dark:text-red-300;
}

.icon {
  @apply h-6 w-6 cursor-pointer hover:text-gray-700;
}

.footerIconSize {
  @apply xs:size-4 sm:size-5 lg:size-6;
}

.toastIcon {
  @apply xs:size-3 mt-0.5 sm:size-4;
}
