@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --color-on-surface: #171D1E;
    --color-on-background: #181C1F;
    --color-primary: oklch(0.685 0.169 237.323);
    --color-on-secondary-fixed: #0A1528;
    --color-text-default: #0A1528;
    --color-surface-dim: #D5DBDC;

    --breakpoint-sm: 25.75rem;

    --font-primary: 'Space Grotesk', sans-serif;
}

::-webkit-scrollbar {
    display: none;
  }

.button {
    @apply w-auto text-center lg:px-4 lg:py-2 sm:py-2 sm:px-3 lg:text-lg sm:text-sm rounded-lg font-primary flex items-center space-x-2 hover:cursor-pointer
}

.cardTitle {
    @apply text-2xl font-bold line-clamp-2 min-h-[2.5rem] font-primary;
}

.cardSubTitle {
    @apply text-base font-primary line-clamp-3 min-h-[4rem];
}