@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --color-on-surface: #171D1E;
    --color-on-background: #181C1F;
    --color-primary: oklch(0.685 0.169 237.323);
    --color-on-secondary-fixed: #0A1528;
    --color-text-default: #0A1528;
    --color-surface-dim: #D5DBDC;

    --breakpoint-sm: 25.75rem;

    --font-primary: 'Space Grotesk', sans-serif;
}

::-webkit-scrollbar {
    display: none;
  }

  
/* Variants */
.btn-primary {
    @apply bg-primary text-white rounded-lg ;
}

.btn-secondary {
    @apply bg-on-surface text-white ;
}

.btn-outline {
    @apply border border-primary text-primary bg-transparent hover:bg-primary hover:text-white;
}

.btn-error {
    @apply bg-red-500 text-white ;
}

.btn-default {
    @apply bg-gray-200 text-gray-800 ;
}